.profile-pic {
    width: 15%;
    height: auto;
    margin-right: 10px;
}
.social-links {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.git-container, .linkedin-container {
    margin-bottom: 1rem;
    overflow: hidden;
}

.link-item {
    border-radius: 20px 0px 0px 20px;
    background-color: #333;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
    transition: width 0.3s ease;
}

.link-item img {
    width: 30px;
    margin-right: 10px;
}

.link-text {
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    transition: width 0.3s ease;
}

.link-item:hover {
    width: 180px;
}

.link-item:hover .link-text {
    width: 120px;
}